.topbar {
    width: 100%;
    height: 50px;
    background-color:#1A719E;
    position: sticky;
    top: 0;
    z-index: 999;
}

.tobbarWrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color:#EBF6F6;
    cursor: pointer;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color:#EBF6F6;
}

.topIconBadge {
    position: absolute;
    width: 18px;
    height: 18px;
    top: -5px;
    right: 5px;
    background-color: #FE5012;
    color: #EBF6F6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    
}


.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
}